# ==========================
# App
# ==========================
PORT=3618
JWT_SECRET=dev-super-secret

# ==========================
# Database (Postgres)
# ==========================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=1234
DB_NAME=postgres
DB_SCHEMA=clothing_ecom

# Prisma connection string (quan trọng cho schema.prisma)
DATABASE_URL="postgresql://postgres:1234@localhost:5432/postgres?schema=clothing_ecom"

# ==========================
# VNPAY Config
# ==========================
VNPAY_TMN_CODE=AUQ4ULMV
VNPAY_HASH_SECRET=WKQSAU03OWGFKZ1Y19PUHHCMOYI28U3G
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment/return
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/merchant.html
VNPAY_API_VERSION=2.1.0
VNPAY_API_COMMAND=pay
VNPAY_API_CUR=VND
VNPAY_API_LOCALE=vn

# ==========================
# CLOUNDINARY Config
# ==========================
CLOUDINARY_CLOUD_NAME=dbocoqlkr
CLOUDINARY_API_KEY=921666731472684
CLOUDINARY_API_SECRET=2F52x_DOsIlxAFdWf_Xn6FVZD9A
CLOUDINARY_FOLDER=clothing_ecom


# ==========================
# SUPABASE Config
# ==========================
SUPABASE_URL=https://kevpdffxnszdtaqgicca.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtldnBkZmZ4bnN6ZHRhcWdpY2NhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTQ0MTE3NywiZXhwIjoyMDc3MDE3MTc3fQ.4XzQ2bpZFbvdYqQUrumdoukOkZmxmk1k095_5iX586w
GEMINI_API_KEY=AIzaSyD3xR5t_p6ZegIZKwk5BNiYZLS-SLq26xM

# ==========================
# N8N Config
# ==========================
#N8N_WEBHOOK_URL=https://clothing1.app.n8n.cloud/webhook-test/product-support
N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/product-support

# === OTP CONFIG ===
OTP_EXPIRES_MIN=5                   # Mã OTP hết hạn sau 5 phút
OTP_RESEND_COOLDOWN_SEC=60          # Thời gian chờ giữa 2 lần gửi OTP (60s)
OTP_MAX_SEND_PER_HOUR=5             # Giới hạn gửi trong 1h
OTP_MAX_ATTEMPTS=5                  # Giới hạn nhập sai OTP
OTP_JWT_SECRET=otp_secret_123       # Secret để ký token OTP
OTP_JWT_TTL=10m                     # Thời gian sống của otp_token (jwt)

# === MAIL CONFIG (bắt buộc nếu có sendOtp) ===
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=clothingecom8@gmail.com
SMTP_PASS=omslwlvainqxydev
SMTP_FROM="CLOTHING ECOM" <clothingecom8@gmail.com>

# === GHN CONFIG ================================
GHN_TOKEN=7aae3204-c5b3-11f0-a0b9-a6fd7d3828f8
GHN_SHOP_ID=6124120
GHN_BASE_URL=https://online-gateway.ghn.vn/shiip/public-api